.promo {
    display: flex;
    position: relative;
    &__title {
        font-size: 45px;
        font-weight: bold;
        margin-bottom: 55px;
    }
    &__subtitle {
        color: $green;
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    &__notebook {
        position: absolute;
        top:20%;
        left:15%;
    }
    &__column {
        padding: 0 15px;
    }
    &__wrapper {
        width: 70%;
        margin-bottom: 55px;
    }
}
